In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [29]:
import tensorflow as tf
print(tf.__version__)

2.16.1

In [30]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [31]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [32]:
X = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

In [33]:
geography = pd.get_dummies(X['Geography'], drop_first=True)
gender = pd.get_dummies(X['Gender'],drop_first=True)

In [34]:
X = X.drop(['Geography','Gender'], axis =1)

In [35]:
X = pd.concat([X,geography,gender],axis=1)

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size= 0.2, random_state= 0)

In [37]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [38]:
X_train

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [39]:
X_train.shape

(8000, 11)

In [40]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LeakyReLU, PReLU,ELU,ReLU
from tensorflow.keras.layers import Dropout

In [41]:
classifier = Sequential()

In [44]:
#Adding input layer
classifier.add(Dense(units=11,activation='relu'))

In [47]:
#Adding first hidden layer
classifier.add(Dense(units=7, activation='relu'))

In [ ]:
#Adding second hidden layer
classifier.add(Dense(units=6, activation='relu'))

In [48]:
#Adding output layer
classifier.add(Dense(1,activation='sigmoid'))

In [49]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [51]:
model_history = classifier.fit(X_train,y_train, validation_split= 0.33,batch_size=10, epochs=20)

Epoch 1/20

536/536 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - accuracy: 0.6687 - loss: 0.5966 - val_accuracy: 0.8008 - val_loss: 0.4545
Epoch 2/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8051 - loss: 0.4358 - val_accuracy: 0.8061 - val_loss: 0.4325
Epoch 3/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8184 - loss: 0.4044 - val_accuracy: 0.8076 - val_loss: 0.4201
Epoch 4/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8313 - loss: 0.3952 - val_accuracy: 0.8228 - val_loss: 0.4003
Epoch 5/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8372 - loss: 0.3857 - val_accuracy: 0.8345 - val_loss: 0.3872
Epoch 6/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8542 - loss: 0.3561 - val_accuracy: 0.8413 - val_loss: 0.3785
Epoch 7/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8493 - loss: 0.3506 - val_accuracy: 0.8459 - val_loss: 0.3753
Epoch 8/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8569 - loss: 0.3458 - val_accuracy: 0.8451 - val_loss: 0.3723
Epoch 9/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8549 - loss: 0.3469 - val_accuracy: 0.8501 - val_loss: 0.3712
Epoch 10/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8679 - loss: 0.3268 - val_accuracy: 0.8501 - val_loss: 0.3630
Epoch 11/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8544 - loss: 0.3467 - val_accuracy: 0.8482 - val_loss: 0.3649
Epoch 12/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8631 - loss: 0.3334 - val_accuracy: 0.8538 - val_loss: 0.3628
Epoch 13/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8736 - loss: 0.3152 - val_accuracy: 0.8497 - val_loss: 0.3640
Epoch 14/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8658 - loss: 0.3366 - val_accuracy: 0.8501 - val_loss: 0.3629
Epoch 15/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8655 - loss: 0.3335 - val_accuracy: 0.8421 - val_loss: 0.3718
Epoch 16/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8573 - loss: 0.3470 - val_accuracy: 0.8501 - val_loss: 0.3651
Epoch 17/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8618 - loss: 0.3317 - val_accuracy: 0.8516 - val_loss: 0.3632
Epoch 18/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8615 - loss: 0.3334 - val_accuracy: 0.8531 - val_loss: 0.3639
Epoch 19/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8654 - loss: 0.3253 - val_accuracy: 0.8516 - val_loss: 0.3626
Epoch 20/20
536/536 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.8616 - loss: 0.3338 - val_accuracy: 0.8402 - val_loss: 0.3749